# Ignorar diretórios do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar o diretório de ambiente virtual (se estiver usando)
venv/
.env

# Ignorar arquivos de configuração do editor de código
.vscode/
.idea/

# Ignorar arquivos do Jupyter Notebook (se estiver usando)
.ipynb_checkpoints/
