{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4415407797807365">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>{{ title if title else "ClientWise" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4415407797807365"
     crossorigin="anonymous"></script>
</head>

<div class="container my-4">
    <h1 class="text-center">📊 Dashboard</h1>

    <!-- Outros conteúdos do dashboard -->

    <!-- Botão para redirecionar para o cadastro de clientes -->
    <div class="text-center mt-4">
        <ul>
            <li><a href="{{ url_for('cadastro_cliente') }}" class="btn btn-primary btn-lg">Ir para Cadastro de Clientes</a></li>
            <li><a href="{{ url_for('clientes') }}" class="btn btn-primary btn-lg">Ir para Dashboard de Clientes</a></li>
        </ul>
    </div>
</div>
{% endblock %}
