{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4415407797807365">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>{{ title if title else "ClientWise" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4415407797807365"
     crossorigin="anonymous"></script>
</head>

<h2>Gerenciamento de Investimentos</h2>
<p>Aqui você pode gerenciar seus investimentos!!.</p>

<div>
    <form method="POST" enctype="multipart/form-data">
        <div id="form-manual">
            <div class="mb-3">
                <label for="nome">Nome da Campanha:</label>
                <input type="text" name="nome" class="form-control">
            </div>
            <div class="mb-3">
                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" class="form-control">
            </div>
            <div class="mb-3">
                <label for="valor">Valor Investido:</label>
                <input type="value" name="descricao" class="form-control">
            </div>
            <div class="mb-3">
                <label for="valor">Valor Investido:</label>
                <input type="value" name="descricao" class="form-control">
            </div>
            <div class="mb-3">
                <label for="valor">Valor Investido:</label>
                <input type="value" name="descricao" class="form-control">
            </div>
            <div class="mb-3">
                <label for="valor">Tipo de Pagamento:</label>
                <select name="pagamento" class="form-control">
                    <option value="mensal" class="form-control">Mensal</option>
                    <option value="anual" class="form-control">Anual</option>
                </select>
            </div>
        </div>
    </form>
</div>

{% endblock %}